#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	padding-left: 16px;
	display: block;
	border-right: 2px solid gray;
	background-color: white;
	z-index: 2;
}

#nav-title {
	line-height: 50%;
	display: inline;
}

#nav-title #tester {
	vertical-align: middle;
	display: inline;
}

#main-doc {
	width: 80%;
	margin-left: 20%;
	/*padding-left: 32px;*/
}

.main-section {
	border-bottom: 1px solid black;
	padding-left: 32px;
	padding-right: 25%;
}

#navbar-image {
	width: 25%;
	display: inline;
}

#introduction-image {
	background-color: red;
	padding: 5px 10px 5px 5px;
}

.bold-title {
	display: block;
}